.feedback {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.feedback__btn {
  width: 150px;
  height: 50px;
  background-color: var(--feedback-background-color);
  font-size: 18px;
}
