@import-normalize;

:root {
  --good-rate-color: rgba(22, 121, 22, 0.3);
  --neutral-rate-color: rgba(83, 140, 204, 0.3);
  --bad-rate-color: rgba(243, 76, 76, 0.3);
  --total-color: rgba(199, 155, 193, 0.3);
  --percentage-color: rgba(242, 245, 75, 0.3);
  --darkest-text-color: rgba(14, 30, 37, 0.7);
  --section-title--shadow-color: blueviolet;
  --section-title-color: rgb(69, 69, 238);
  --feedback-background-color: rgba(101, 198, 240, 0.4);
  --wrapper-bg-light: rgba(246, 215, 253, 0.8);
  --wrapper-bg-dark: rgba(165, 215, 241, 0.5);
  --img-shadow-blue: rgba(165, 215, 241, 1);
  --img-shadow-green: rgba(124, 204, 148, 0.5);
  --img-shadow-yellow: rgba(255, 217, 19, 0.5);
  --img-shadow-orange: rgba(255, 156, 85, 0.5);
  --img-shadow-pink: rgba(246, 215, 253, 1);
}

body {
  margin: 0 auto;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
